body {
    background-color: rgb(207, 148, 225);
    font-family: Arial;
    font-size: 16px;
}

main {
    background-color: white;
    width: 500px;
    margin: 20px auto; /* Adicionado para dar espaço superior */
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Corrigido o formato da sombra */
    border-radius: 5px; /* Adicionado para deixar cantos arredondados (opcional) */
}