{
    font-family: Arial;
    font-size: 16px;

}

body {
    background-color: rgb(207, 148, 225);

}

main {
    
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px, 3px, 5px black;
}