@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Importa as fontes "Krona One" e "Montserrat" do Google Fonts para o uso no site */

:root {
  --cor-primaria: #000; /* Define a cor primária como preto */
  --cor-secundaria: #f6f6f6; /* Define a cor secundária como um tom claro */
  --cor-terciaria: #22d4fd; /* Define a cor terciária como azul */
  --cor-hover: #272727; /* Define a cor de hover como um tom escuro */

  --fonte-primaria: "Krona One", serif; /* Define a fonte primária */
  --fonte-secundaria: 'Montserrat', sans-serif; /* Define a fonte secundária */
}

* {
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimentos padrão */
  box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

body {
  background-color: var(--cor-primaria); /* Define a cor de fundo como preto */
  color: var(--cor-secundaria); /* Define a cor do texto como clara */
  font-family: var(--fonte-secundaria); /* Usa a fonte secundária */
  box-sizing: border-box; /* Mantém o box-sizing padrão */
  line-height: 1.5; /* Melhora a legibilidade do texto */
}

.cabecalho {
  padding: 2% 0% 0% 10%; /* Define espaçamento interno */
}

.cabecalho__menu {
  display: flex; /* Usa flexbox para organizar os itens */
  gap: 80px; /* Define o espaçamento entre os itens */
}

.cabecalho__menu__link {
  font-size: 2rem; /* Define tamanho da fonte */
  font-weight: 600; /* Define peso da fonte */
  color: var(--cor-terciaria); /* Define a cor do texto */
  text-decoration: none; /* Remove sublinhado dos links */
}

.apresentacao {
  padding: 3% 10%; /* Define espaçamento interno */
  display: flex; /* Usa flexbox */
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: space-between; /* Distribui os itens uniformemente */
  gap: 82px; /* Define espaçamento entre os itens */
}

.apresentacao__conteudo {
  width: 50%; /* Define largura */
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Organiza os itens em coluna */
  gap: 40px; /* Define espaçamento entre os elementos */
  font-weight: 400; /* Define peso da fonte */
}

.apresentacao__conteudo__titulo {
  font-family: var(--fonte-primaria); /* Usa a fonte primária */
  font-size: 2rem; /* Define tamanho da fonte */
}

.titulo-destaque {
  color: var(--cor-terciaria); /* Define a cor do destaque */
}

.apresentacao__conteudo__texto,
.apresentacao__conteudo__lista {
  font-family: var(--fonte-secundaria); /* Usa a fonte secundária */
  font-size: 1.5rem; /* Define tamanho da fonte */
}

.apresentacao__conteudo__lista {
  padding-left: 5%; /* Adiciona espaçamento à esquerda */
}

.apresentacao__links {
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Organiza os itens em coluna */
  align-items: center; /* Centraliza os itens */
  gap: 15px; /* Define espaçamento entre os elementos */
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria); /* Usa a fonte primária */
  font-weight: 400; /* Define peso da fonte */
  font-size: 1.5rem; /* Define tamanho da fonte */
}

.apresentacao__links__botao {
  display: flex; /* Usa flexbox */
  flex-direction: row-reverse; /* Inverte a ordem dos itens */
  justify-content: center; /* Centraliza os itens */
  gap: 16px; /* Define espaçamento entre os elementos */
  background-color: var(--cor-primaria); /* Define cor de fundo */
  width: 50%; /* Define largura */
  font-size: 1.5rem; /* Define tamanho da fonte */
  font-weight: 600; /* Define peso da fonte */
  text-align: center; /* Centraliza o texto */
  border: 2px solid var(--cor-terciaria); /* Define borda */
  border-radius: 25px; /* Arredonda as bordas */
  padding: 12px 0; /* Define espaçamento interno */
  text-decoration: none; /* Remove sublinhado */
  color: var(--cor-secundaria); /* Define cor do texto */
  font-family: var(--fonte-secundaria); /* Usa a fonte secundária */
}

.apresentacao__links__botao:hover {
  background-color: var(--cor-hover); /* Altera cor ao passar o mouse */
}

.link-personalizado {
  color: var(--cor-terciaria); /* Define cor do link */
  text-decoration: none; /* Remove sublinhado */
}

.link-personalizado:hover {
  color: var(--cor-hover); /* Altera cor ao passar o mouse */
  text-decoration: underline; /* Adiciona sublinhado */
}

.apresentacao__imagem {
  border-radius: 16px; /* Arredonda bordas */
  width: 50%; /* Define largura */
}

.rodape {
  color: var(--cor-primaria); /* Define cor do texto */
  background-color: var(--cor-terciaria); /* Define cor de fundo */
  padding: 14px; /* Define espaçamento interno */
  text-align: center; /* Centraliza o texto */
  font-family: var(--fonte-secundaria); /* Usa a fonte secundária */
  font-size: 1.5rem; /* Define tamanho da fonte */
  margin: 0; /* Remove margens */
  font-weight: 400; /* Define peso da fonte */
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 6%; /* Ajusta espaçamento no cabeçalho */
  }
  .cabecalho__menu {
    justify-content: center; /* Centraliza o menu */
  }
  .apresentacao {
    flex-direction: column-reverse; /* Altera ordem dos elementos */
    padding: 5%; /* Ajusta espaçamento */
  }
  .apresentacao__conteudo {
    width: 100%; /* Define largura total */
  }
  .apresentacao__links__botao {
    width: 80%; /* Ajusta largura do botão */
  }
}
